body{
    font-family:Arial;
}

h2{
    color: rgb(171, 3, 3);
}

h3{
    color: #86884B;
    font-style: italic;
}

#maincontainer{
    max-width:45em;
    margin: auto;
    /* position: absolute; */
    padding-top: 2em;
    /* background: url(../majakka_logo.png); */
}

a#help:hover{
    background:white;
    color:black;
    cursor:pointer;
}

#menu a,#menu a:visited, #menu a:active{
    color:white;
    text-decoration:none;
}

#menu a:hover{
    color:yellow;
}


a#help{
    background: black;
    border-radius: 50%;
    padding-left: 0.3em;
    padding-right: 0.3em;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    color: white;
    font-weight: bolder;
    border: 1px solid white;
}

#leftbanner {
    position: fixed;
    background: black;
    left: 0;
    display: inline-block;
    top: 0;
    width: 100%;
    height: 2em;
    overflow: visible;
    /* padding-left: 1px; */
    padding-left: 0.4em;
    padding-top: 0.6em;
}

#leftbanner li {
    display: inline;
    margin-right:0.6em;
}

#leftbanner a, #leftbanner a:visited, #leftbanner a:active{
    text-decoration:none;
    color:white;
}

#leftbanner a:hover{
    color:rgb(171, 3, 3);
    /*font-weight:bold;*/
}

.menuleft li{
    color:white;
}

.menuright li{
    color:white;
}

.menuright img{
}

.menuright{
    display: inline-block;
    padding-right: 0.4em;
    color: yellow;
}


.menuleft, .righter{
    display: inline-block;
    /* float:left; */
    color: white;
}


#settings:hover{
    color:yellow;
    cursor:pointer;
}


#leftbanner ul {
    /* color: red; */
    margin-left: 0px;
    list-style-type: none;
    /* display: inline; */
    margin: 0;
    padding: 0;
}

select{
    background:white;
}

.rightcontent{
}

#contentlist{
    max-width:24em;
    margin:auto;
    padding-top: 2em;
    padding-bottom: 2em;
    /*
    border-radius:2em;*/
    /*background:rgb(171, 3, 3);*/
    /*box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);*/
}

input[type=text].regular{
  border: none;
  border-bottom: solid 1px #c9c9c9;
  width:100%;
}

/*
input[type=text].linestyle:focus{
  color: rgb(171, 3, 3);
}
*/



input[type=text].linestyle{
  border: none;
  border-bottom: solid 1px #c9c9c9;
  border: none;
  width:100%;
  background:none;
  font-size:0.995em;
  color: white;
  font-family:courier;
  outline: none;
}

/*
input[type=text].linestyle:not(:focus){
    color:white;
}
*/

tr:hover > td.right > input.linestyle {
    color: rgb(171, 3, 3);
    border-bottom:1px dashed grey;
}


td>span:first-child {
    color: green;
    padding-left: 0.2em;
    width:2em;
    margin-right: 1em;
}


tr:hover > td.left{
    /*font-weight:bold;*/
}

/*
not(.right:hover) > input.linestyle {
    color: white;
}
*/


.pvm{
    min-width:6em;
}

.month, .month:hover{
    background: #86884B;
    color: white;
    cursor: default;
    padding-left:0.3em;
}

#syottodiv tr, #ui-datepicker-div tr{
    background:white;
    color:black;
    border-collapse:collapse;
}

#syottodiv:
{
    max-width:60em;
    margin:auto;
}


#slistcont{
    max-width:38em;
}

#slistcont input{
    max-width: 8em;
};


table{
    width:100%;
    /*border-collapse:collapse;*/
}

tr{
    height:2em;
    color:white;
    background:rgb(171, 3, 3);
}

tr:hover{
    background:white;
    color:rgb(171, 3, 3);
    cursor: pointer; 
    cursor: hand;
}

.right:hover{
    color:rgb(171, 3, 3);
}

.right:first-child{
    /*border: 4px solid yellow;*/
}

.left{
    padding-left:1.2em;
    padding-right:.8em;
}

.left, .right{
    /*border-bottom:0.5px dashed grey;*/
    font-size:1.2em;
    padding-top:0.4em;
    padding-bottom:0.4em;
    background:none;
}


.right{
    padding-left:1.4em;
    padding-right:.4em;
    font-family:courier;
    /*background:lightblue;*/
}

.hidden{
    display:none;
}

.visible{
    display:block;
}

.withsomemargin{
    margin-bottom:2em;
}

.messurow{
    cursor: pointer; 
    /*padding-left:2em;*/
    padding-right:1em;
    cursor: hand;
}


input#messutheme{
    border-bottom: dashed 1px black;
    color: #86884B;
}


#maincontainer a, #maincontainer a:visited, #maincontainer a:active{
    text-decoration:none;
    color:black;
}

#maincontainer a:hover{
    color: rgb(171, 3, 3);

}

.sbutton{
    font-size:10;
}
 

#comments{
    /*
    border-top: 1px solid grey;
    border-left: 1px solid grey;*/
    padding-left: 2em;
    /* border-radius: 25px; */
    padding-top: 3em;
}

.comment_container{
    padding-top: 1em;
    padding-left: 2em;
    padding-bottom: 0.2em;
    padding-right: 0.2em;
    background: #86884B;
    color: white;
    margin: 2em;
    border-radius: 3px;
}

.newcomment{
    /*background: lightblue;*/
}

.commenttext{
    font-size: 10;
    max-width: 40em;
    min-width: 40em;
    height: 15em;
    display: block;
    margin-top: 2em;
    margin-left: 3em;
}

.comment_header{
    border-top: 1px dashed white;
    margin-top: 1.5em;
    padding-top: 0.2em;
    font-style: italic;
    font-size: 80%;
    text-align: right;
}

#cmsub{
    margin-top:1.5em;
    margin-left: 3em;
}

#homeli{
    color:yellow;
}

#homeli:hover{
    cursor:pointer;
    color:white;
}


label {
    display: inline-block;
    width: 100px;
    text-align:left;
}

#menu{
    background: #5d5353;
    position:fixed;
    padding-top:2px;
    padding-bottom:0.7em;
    color:white;
    display:none;
    left:0em;
    top:2.6em;
    padding-left:0em
    padding-right:0em;

}



#menu li:hover{
    background: #948f56;
    cursor: pointer;
}

#menu li{
    margin-top: 0em;
    border-bottom:1px solid white;
    padding-left:0.5em;
    padding-right:0.5em;
    padding-top:1.5em;
    padding-bottom:1.5em;
}

#menu ul{
    margin-left: 0px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#syotto_ots{
    margin-top:3em;
}

input[type = submit].smallsub{
    margin-top:0.1em;
    font-size:99%;
    padding:0.1em;
}

input[type = submit]{
    margin-top:2em;
    font-size:110%;
    padding:0.2em;
}

@media only screen and (max-device-width: 481px) {

    table{
        width:100%;
    }

    tbody {
        font-size: 100%;
    }


}

