input[type=text].regular{
  border: none;
  border-bottom: solid 2px #c9c9c9;
  width:100%;
}

input[type=text].linestyle{
  border: none;
  border-bottom: solid 2px #c9c9c9;
}

.hidden{
    display:none;
}

.visible{
    display:block;
}

.withsomemargin{
    margin-bottom:2em;
}

.messurow{
    cursor: pointer; 
    cursor: hand;
}

.messurow:hover{
    color:red;
}


.editable:hover{
    cursor: pointer; 
    cursor: hand;
    border: 1px solid red;
}

