<link href='https://fonts.googleapis.com/css?family=Nothing+You+Could+Do|Quicksand' rel='stylesheet'> 

<style type="text/css">

body{
    color:black;
    font-family:'Quicksand',cursive;
    background:white;
    background: -webkit-radial-gradient(-200% 40%, closest-corner, #FFF002, rgb(218, 218, 218));
    background-attachment: fixed;
}

article, #TOC{
    max-width:50em;
    margin:auto;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h1 a:visited, h2 a:visited, h3 a:visited, h4 a:visited, h5 a:visited{
    color: rgb(123, 0, 0);
    text-decoration:none;
}

h1{
    color: rgb(123, 0, 0);
    font-family: 'Nothing You Could Do';
}

h2{
    color: rgb(123, 0, 0);
    font-family: 'Nothing You Could Do';
}

h3{
    color:#4D4D4D;
    font-style: italic;
    /* text-shadow: 1px 1px 1px #dadada; */
    text-shadow: black;
}

img{
    max-width:50em;
    margin:auto;
}


</style>
